.services-hero{
    padding-top: 94px;
    padding-bottom: 37px;
}
.services-hero__wrapper{
    text-align: center;
}
.services-hero__title{
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 33.36px;
}
.services-hero__title__grey{
    color: #848484;
}
.services-hero__title__orange{
    color: $orange;
}
.services-hero__desc{
    margin-bottom: 13px;
    display: block;
    color: $gray-bold;
    font-size: 33px;
    font-weight: 600;
    line-height: 59.56px;
}
.services-hero__text{
    margin-bottom: 56px;
    color: #898989;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}
.services-hero__list{
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 91px;
    border-radius: 10px;
    background: $white;
    box-shadow: 0px 10px 30px -30px #0D1025;
}
.services-hero__item-line{
    width: 2px;
    height: 125px;
    background-color: #EEEFF2;
}
.services-hero__item{
    display: flex;
    align-items: center;
    gap: 36px;
}
.services-hero__item__info{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.services-hero__item__count{
    margin-bottom: 5px;
    color: #0B132A;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}
.services-hero__item__name{
    color: #4F5665;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}