.services-services{
    padding-bottom: 168px;
}
.services__wrapper{
    display: flex;
    flex-direction: column;
    gap: 185px;
}
.services__box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.services__box:nth-child(even){
    flex-direction: row-reverse;
}
.services__content{
    width: 536px;
}
.services__name{
    margin-bottom: 43px;
    color: $black;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}
.services__text, .services__desc{
    margin-bottom: 18px;
    color: #515151;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}
.services__desc{
    margin-bottom: 46px;
}
.services__link{
    @include buttons;
    background-color: $orange;
}