.footer-top{
    padding-top: 125px;
    padding-bottom: 140px;
    background-color: $white;
}
.footer-top__title{
    margin-bottom: 32px;
    color: #222222;
    font-size: 30px;
    font-weight: 600;
    line-height: 56.25px;
}
.footer-top__text{
    width: 545px;
    margin-bottom: 74px;
    color: #525252;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
.footer-top__box{
    padding: 40px 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #1B1B1B;
}
.footer-top__box__content{
    width: 520px;
}
.footer-top__box__name{
    margin-bottom: 10px;
    color: $white;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}
.footer-top__box__desc{
    color: $white;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
}
.footer-top__box__form{
    padding: 6px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: $white;
    outline: none;
}
.footer-top__input{
    padding-right: 40px;
    color: #898989;
    font-size: 13px;
    font-weight: 300;
    line-height: 19.5px;
    border: none;
}
.footer-top__btn-s{
    @include buttons;
    border-radius: 8px;
    border: none;
    background-color: $orange;
}

.footer_section {
    background-color: #1B1B1B;

    padding: 59px 101px;

    &__subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        margin-bottom: 25px;
        margin-top: 27px;
        width: 337px;
    }

    &__subtext {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        color: #fff;
        margin-bottom: 62px;

    }

    &__blok {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 186%;
        color: #fff;
        margin-bottom: 11px;
    }

    &__a {
        width: 282px;
    }

    &__link-ilst {
        display: flex;
        align-items: end;
    }

    &__bottom-text {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 13px;
        line-height: 191%;
        color: #fff;
        text-align: center;
        margin-top: 28px;
        
    }
}